Django>=5.0,<5.1
django-cleanup>=8.1,<9
django-cors-headers>=4.3,<5
django-allauth>=0.63,<1
djangorestframework>=3.15,<4
dj-rest-auth>=6.0,<7
redis>=5,<6
gunicorn>=22,<23
python-dotenv>=1.0,<2
requests>=2.31,<3
numpy>=1.26,<3
note-seq>=0.0.5
pytube>=15,<16
psycopg2-binary>=2.9,<3
dj-database-url>=2,<3
